*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:"Prompt",sans-serif;
}

body{

background:#F8F2FF;

color:#444;

}

.navbar{

display:flex;

justify-content:space-between;

align-items:center;

padding:20px 60px;

background:#D8B4F8;

position:sticky;

top:0;

}

.logo{

font-size:28px;

font-weight:bold;

color:white;

}

.navbar ul{

display:flex;

list-style:none;

}

.navbar li{

margin-left:25px;

}

.navbar a{

text-decoration:none;

color:white;

font-weight:600;

transition:.3s;

}

.navbar a:hover{

color:#5E2B97;

}

.hero{

height:90vh;

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

text-align:center;

padding:20px;

}

.profile{

width:220px;

height:220px;

border-radius:50%;

border:8px solid white;

box-shadow:0 10px 30px rgba(0,0,0,.2);

margin-bottom:30px;

}

.hero h1{

font-size:55px;

color:#7B2CBF;

}

.hero h2{

margin:20px;

font-size:35px;

}

.hero p{

width:700px;

max-width:90%;

font-size:20px;

line-height:35px;

margin-bottom:40px;

}

.button{

background:#C77DFF;

padding:15px 40px;

border-radius:50px;

color:white;

text-decoration:none;

font-size:20px;

transition:.3s;

}

.button:hover{

background:#9D4EDD;

transform:scale(1.05);

}

footer{

background:#D8B4F8;

padding:20px;

text-align:center;

color:white;

margin-top:50px;

}

@media(max-width:768px){

.navbar{

flex-direction:column;

}

.navbar ul{

margin-top:20px;

flex-direction:column;

text-align:center;

}

.navbar li{

margin:10px;

}

.hero h1{

font-size:40px;

}

.hero h2{

font-size:25px;

}

}
